body {
  font-family: 'Raleway', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;

}

/**-------------------ACCESIBILIDAD A DIFERENTES DISPOSITIVOS-------------------------------------*/

@media(max-width: 767px) {
  .desktop {
    display: none;
  }

  .tablet {
    display: none;
  }
}

@media(max-width: 768px)and(max-width: 990px) {
  .desktop {
    display: none;
  }

  .movil {
    display: none;
  }
}

@media(max-width: 991px) {
  .movil {
    display: none;
  }

  .tablet {
    display: none;
  }
}

/**-------------------ACCESIBILIDAD A DIFERENTES DISPOSITIVOS-------------------------------------*/

/*cajas
.cajas_login_registro{
  display: flex;
 
}
.cajas_login_registro div{
  margin: 100px 40px;
  color:#8547ca;
  transition: all 500ms;
}

.cajas_login_registro button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  color : white;
  cursor: pointer;
  background-color: rebeccapurple;
  outline: none;
}
.cajas_login_registro button:hover{
  background: white;
  color:#000;
  border: 2px solid rebeccapurple;
}
*/

/* Estilos para formularios 
.contenedor__login-registrar {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
}

.contenedor__login-registrar form {
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-registrar form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color:#343a40;
}

.contenedor__login-registrar form input {
  font-size: 30px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #d6cde7;
  border: none;
  font-size: 16px;
  outline: none;
}

.contenedor__login-registrar form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: rebeccapurple;
  outline: none;
}

.contenedor__login-registrar form button:hover {
  background: white;
  color: #000;
  border: 2px solid rebeccapurple;
}
*/
.navbar-collapse,.navbar-brand{
  background-color: rebeccapurple;
  color: white;
}
.navbar-collapse .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the space between icons */
  background-color: rebeccapurple;
  color: white;
}


.social-icons a {
  text-decoration: none;
  color: inherit; /* Change color as needed */
  font-size: 24px; /* Adjust size as needed */
}


.navbar-collapse button {
  width: 20%;
  padding-left: 10rem 0;
  background-color: rebeccapurple;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 0.4rem;
  margin-left: 300px;
  right:50px;
  font-size: 16px;
}



.login-register-container {
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 0;
  width: 100%;
}
.container-for-login-card {
  background-image: url(../images/about-bg.jpg);
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full height of the viewport */
  margin: 80px;
}


.container-for-login-card .login-card {
  display: none;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 650px;
  height: 650px;
  margin-top: 1rem;
  
}

.container-for-login-card .icon-circle .user-icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 4px;
}
.container-for-login-card #loginForm{
  background: white;
  padding: 2rem;
  width: auto;
  height: auto;
  margin-top: 1rem;
}

.container-for-login-card #loginForm .input-group  input {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-register-container .checkbox-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 16px;
}

.container-for-login-card.checkbox-group label {
  cursor: pointer;
}

.container-for-login-card .checkbox-group a {
  text-decoration: none;
  color: #1a3f78;
}

.container-for-login-card button {
  width: 100%;
  padding: 0.8rem 0;
  background-color: rebeccapurple;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 16px;
}

.container-for-login-card button:hover {
  background-color: rebeccapurple;
}
.formulario_registro {
  background: white;
  padding: 0.3rem;
  width: auto;
  height: auto;
  margin-top: 1rem;
}
/**inicio informacion**/


.banner {
  
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: 6px;
  text-align: center;
  width: 800px;
  height: 700px;
  margin-left: 80px;
  
}


.banner-content {
 
  position: relative; /* Para que esté dentro del banner */
  z-index: 1; /* Para estar por encima del fondo */
  padding: 10px; /* Para dar espacio */
  color: rgb(0, 0, 0); /* Para contraste con la imagen */
  font: bold;
  border-radius: 10px;
  font-size: 18px;
}
.banner-content .banner-content1 {
  background-color: white;
  position: relative; /* Para que esté dentro del banner */
  z-index: 1; /* Para estar por encima del fondo */
  padding: 10px; /* Para dar espacio */
  color: rgb(0, 0, 0); /* Para contraste con la imagen */
  font: bold;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 18px;
}
.banner-content h1 {
  background-color: rgb(98, 30, 122);
  position: relative; /* Para que esté dentro del banner */
  z-index: 1; /* Para estar por encima del fondo */
  padding: 10px; /* Para dar espacio */
  color: rgb(255, 255, 255); /* Para contraste con la imagen */
  font: bold;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 30px;
}
.banner .links  {
  background-color: white;
  position: relative; /* Para que esté dentro del banner */
  z-index: 1; /* Para estar por encima del fondo */
  padding: 10px; /* Para dar espacio */
  color: rgb(0, 0, 0); /* Para contraste con la imagen */
  font: bold;
  margin-bottom: 2rem;
  border-radius: 10px;
  font-size: 18px;
}
.banner .links p {
  position: relative; /* Para que esté dentro del banner */
  z-index: 1; /* Para estar por encima del fondo */
  padding: 10px; /* Para dar espacio */
  margin-bottom: 0;
  color: rgb(0, 0, 0); /* Para contraste con la imagen */
  font: bold;
}
.banner .links a {
  position: relative; /* Para que esté dentro del banner */
  z-index: 1; /* Para estar por encima del fondo */
  padding-bottom: 10px; /* Para dar espacio */
  margin-bottom: 0;
  color: rgb(0, 0, 0); /* Para contraste con la imagen */
  font-style: bold;
}
.formulario_registro h2 {
  color: #4a4a4a; /* Dark grey color */
  margin-bottom: 20px;
  text-align: center;
}


.formulario_registro input[type="text"],
.formulario_registro input[type="password"],
.formulario_registro input[type="email"] {
  width: 100%;
  padding: 3px;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's width and height */
}


.formulario_registro #register-btn {
  background-color: #71228c; /* Purple color to match your color scheme */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
}


.formulario_registro #register-btn:hover {
  background-color: #483d8b; /* Darker purple for hover state */
}


/* Style the toggle buttons for forms */
.formulario_registro .toggle-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.formulario_registro .toggle-btn {
  background-color: #5c4ac7; /* Purple color to match your color scheme */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px; /* Set a fixed width for consistency */
}


.formulario_registro .toggle-btn:hover {
  background-color: #483d8b; /* Darker purple for hover state */
}


/* Add responsiveness */
@media (max-width: 600px) {
  .formulario_registro {
      width: 90%;
      margin: 10px auto;
  }
  .toggle-buttons {
      flex-direction: column;
      align-items: stretch;
  }
  .toggle-btn {
      margin-bottom: 10px;
  }
}


/*Diseño para  dispositivos móviles */
@media screen and (max-width: 767px) {
  .contenedor__login-resgistrar {
    right: 8px;
    /* Ajusta el margen derecho */
    top: 50%;
    /* Ajusta la posición vertical */
    transform: translateY(-50%);
    /* Centra verticalmente */
  }
}


.layout_margin {
  margin: 90px 0;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container h2 {
  font-weight: bold;
  color: #1d1e31;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.heading_container h2::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #8547ca;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

.hero_next_section-margin {
  margin-top: 100px;
}


/*header section*/
.hero_area {
  height: 100vh;
  position: relative;
  
  background-position: center;
  position: relative;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f7fd), color-stop(45%, #1d1e31));
  background: linear-gradient(to right, #f2f7fd 50%, #1d1e31 45%);
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
  width: 22px;
  margin-right: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #fefeff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 14px;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 7px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_menu-btn .custom_menu-btn .s-2 {
  -webkit-transition: all .1s;
  transition: all .1s;
}

.menu_btn-style button {
  position: fixed;
  right: 29px;
  top: 14px;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(17px);
  transform: rotate(45deg) translateY(17px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-17px);
  transform: rotate(-45deg) translateY(-17px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #fbfbfb;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.quote_btn-container a {
  display: inline-block;
  padding: 5px 15px;
  background-color: #fc5d35;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}

/*end header section*/
.slider_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 75px);
  padding: 50px 0;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: unset;
}

.slider_section .row .col-md-7,
.slider_section .row .col-md-5 {
  position: unset;
}

/*-----2PARTE---------------CARROSUL-----------------*/
.slider_section .carousel {
  position: unset;
}

.slider_section .detail-box h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.5rem;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #8547ca;
  font-size: 4.5rem;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 60px;
  background-color: #1d1e31;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #1d1e31;
  text-transform: uppercase;
  margin-top: 35px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #1d1e31;
}

.slider_section .img-box img {
  height: 100%;
}

/*---------------------------------CARROUSEL--------------------------------------------------------------*/


/* Tamaño del contenedor del carrusel */
.slider_section .carousel-item {
  width: 80%;
  /* Ocupará la mitad de la página */
  /*margin: 20%;  Centrar el carrusel en la página */
  margin-left: 0%;
  /* Alineará el carrusel hacia la derecha */
  margin-right: 70;
  /* Eliminará el margen derecho */
}

/* Tamaño de la imagen dentro del carrusel */
.slider_section .carousel-item img {
  width: 90%;
  /* La imagen ocupará todo el ancho del contenedor */
  height: 90%;
  /* La altura se ajustará automáticamente */
}

/* Estilos para los controles del carrusel */
.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  /*left: 50%;*/
  opacity: 1;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  left: auto;
  /* Eliminará la alineación a la izquierda */
  right: 10px;/
}

.slider_section .carousel-control-prev {
  background-color: #1d1e31;
  top: 9px;
  background-image: url(../images/left-arrow.png);
  background-position: 14px center;
}

.slider_section .carousel-control-next {
  background-color: #d7b6e2;
  top: initial;
  bottom: 10px;
  background-image: url(../images/right-arrow.png);
  background-position: 35px center;
}


.slider_section .carousel-indicators {
  margin: 0;
  bottom: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 25px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}


.slider_section .carousel-indicators li {
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #9f0af0;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  background-color: #8547ca;
}

/*---------------------------------CARROUSEL--------------------------------------------------------------*/
.feature_section {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

.feature_section .box {
  background-color: #fcfcfd;
  padding: 15px;
  margin: 45px 0;
}

.feature_section .box .head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature_section .box .head-box .img-box {
  margin-right: 15px;
}

.feature_section .box .head-box .img-box svg {
  width: 50px;
  height: auto;
  fill: #8547ca;
}

.feature_section .box .head-box h6 {
  font-weight: bold;
  font-size: 18px;
}

.feature_section .box .detail-box {
  margin-top: 15px;
}

.feature_section .box .detail-box p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.feature_section .box:hover {
  background-color: #8547ca;
  color: #fefdfc;
}

.feature_section .box:hover .head-box .img-box svg {
  fill: #fefdfc;
}

.feature_section a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #8c60bd;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #8c60bd;
}

.feature_section a:hover {
  background-color: transparent;
  color: #8c60bd;
}

.download_section {
  font-family: 'Poppins', sans-serif;
}

.download_section .box {
  background-color: #333456;
  padding: 15px;
  margin: 45px 0;
  color: #fefdfc;
}

.download_section .box .head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.download_section .box .head-box .img-box {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border: 1px solid #fefdfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.download_section .box .head-box .img-box img {
  width: 30px;
}

.download_section .box .head-box h6 {
  font-weight: bold;
  font-size: 18px;
}

.download_section .box .detail-box {
  margin-top: 15px;
}

.download_section .box .detail-box p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.download_section .btn-1 {
  display: inline-block;
  padding: 10px 40px;
  background-color: #8c60bd;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #8c60bd;
  margin-top: 25px;
}

.download_section .btn-1:hover {
  background-color: transparent;
  color: #8c60bd;
}

.download_section .btn-2 {
  display: inline-block;
  padding: 10px 40px;
  background-color: #323559;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #323559;
  margin-top: 25px;
}

.download_section .btn-2:hover {
  background-color: transparent;
  color: #323559;
}

.download_section .main-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.download_section .main-img-box img {
  width: 75%;
  -webkit-filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.37));
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.37));
}

.about-section {
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center; /* Centrar el texto */
  padding: 60px 0; /* Agregar espacio para centrar verticalmente */
}


.about-section .container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.about-section .row {
  justify-content: center; /* Centrar los elementos horizontalmente */
}


.about-section .col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar el contenido verticalmente */
  align-items: center; /* Centrar el contenido horizontalmente */
}


.about-section .about-content {
  max-width: 600px; /* Limitar el ancho del contenido para centrarlo */
  background-color: white;
  border-radius: 8px;
}


.about-section .about-image {
  text-align: center; /* Centrar la imagen */
}


.about-section .about-image img {
  width: 100%; /* Escalar la imagen al contenedor */
  max-width: 300px; /* Limitar el ancho máximo para mantener proporciones */
  height: auto; /* Mantener la proporción de aspecto */
  border-radius: 50%; /* Redondear las esquinas */
}






.subscribe_section {
  background-color: #f2f7fd;
}

.subscribe_section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.subscribe_section form input {
  width: 69%;
  height: 50px;
  border: none;
  padding-left: 15px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}

.subscribe_section form button {
  width: 29%;
  height: 50px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0;
  background-color: #8c60bd;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #8c60bd;
  font-weight: bold;
  line-height: 50px;
}

.subscribe_section form button:hover {
  background-color: transparent;
  color: #8c60bd;
}

.client_section .client_container .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client_section .client_container .client-id .img-box {
  width: 75px;
  margin-right: 15px;
}

.client_section .client_container .client-id .img-box img {
  width: 100%;
}

.client_section .client_container .client-id .name img {
  width: 35px;
}

.client_section .client_container .client-id .name h6 {
  color: #8547ca;
  margin: 5px 0;
  font-weight: bold;
}

.client_section .client_container .client-detail {
  margin-top: 20px;
}

.client_section .client_container a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #8c60bd;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #8c60bd;
}

.client_section .client_container a:hover {
  background-color: transparent;
  color: #8c60bd;
}

/* contact section */
.contact_section {
  background-color: #f0f0f0; /* Fondo más claro para contraste */
  padding: 60px 0; /* Más espacio para centrar el contenido */
  text-align: center; /* Centrar todo el contenido */
}


.contact_section h2 {
  font-size: 2rem; /* Tamaño de fuente más grande */
  color: #333; /* Color de texto oscuro para contraste */
  margin-bottom: 20px; /* Espacio entre el título y el botón */
}


#mostrarFormulario {
  background-color: #5a2d9a; /* Color del botón más vibrante */
  color: #fff;
  border: none;
  padding: 12px 24px; /* Aumentar el tamaño del botón */
  border-radius: 10px; /* Borde redondeado para suavizar */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto suave al hover */
}


#mostrarFormulario:hover {
  background-color: #7a3da2; /* Cambiar el color al hover */
}


.contact_form-container {
  margin-top: 20px;
}


.contact_form-container input,
.contact_form-container textarea {
  width: 90%; /* Ajustar el ancho para centrar mejor */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.contact_form-container input[type="submit"] {
  background-color: #5a2d9a; /* Color vibrante para el botón de envío */
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 10px; /* Borde redondeado */
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.contact_form-container input[type="submit"]:hover {
  background-color: #7a3da2; /* Cambiar el color al hover */
}




/* end contact section */
/* info section */
.info_section {
  background-color: #363636;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}

.info_logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_logo-box h2 {
  font-weight: bold;
  padding: 5px 35px;
  border-bottom: 1.5px solid #8547ca;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #ffffff;
}

.info_section ul li a:hover {
  color: #8547ca;
}

.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}

.info_section .form_container::-webkit-input-placeholder {
  color: #ccc8c8;
}

.info_section .form_container:-ms-input-placeholder {
  color: #ccc8c8;
}

.info_section .form_container::-ms-input-placeholder {
  color: #ccc8c8;
}

.info_section .form_container::placeholder {
  color: #ccc8c8;
}

.info_section .form_container button {
  background-color: #8c60bd;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.social_container {
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid #898989;
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

/* end info section */
/* footer section*/
.footer_section {
  background-color: #8547ca;
  padding: 20px;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: #fefdfc;
}

.footer_section a {
  color: #fefdfc;
}




/*# sourceMappingURL=style.css.map */